/* Estilos Generales */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

/* Encabezado */
header {
    background: linear-gradient(to right, #3931af, #00c6ff);
    padding: 10px 0;
}

header .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

header .nav-link {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}

header .nav-link:hover {
    text-decoration: underline;
}

/* Sección de Introducción */
.intro {
    padding: 60px 0;
    background: linear-gradient(to right, #3931af, #00c6ff);
    color: #fff;
}

.intro h2 {
    font-size: 32px;
    font-weight: bold;
}

.intro p {
    font-size: 18px;
    margin-bottom: 20px;
}

.intro .feature-list {
    list-style-type: none;
    padding: 0;
}

.intro .feature-list li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.intro .feature-list i {
    margin-right: 10px;
    color: #00ff88;
}

.intro .doctor-image {
    max-width: 100%;
    border-radius: 8px;
}

/* Sección de Misión, Visión y Valores */
.mission-vision {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

.mission-vision .icon-style {
    color: #3931af;
    margin-bottom: 10px;
}

.mission-vision h3 {
    font-size: 24px;
    margin-top: 10px;
}

.mission-vision p,
.mission-vision ul {
    font-size: 16px;
    margin-top: 10px;
}

.values-list {
    list-style: none;
    padding: 0;
}

.values-list li {
    margin: 5px 0;
}

/* Sección de Objetivos */
.objectives {
    padding: 40px 0;
    background:linear-gradient(to right, #3931af, #5ee4d9);
    color: #ffffff;
    text-align: center;
}

.objectives h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.objectives-list {
    list-style-type: none;
    padding: 0;
}

.objectives-list li {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.objectives-list i {
    color: #00ff88;
    margin-right: 10px;
}

/* Footer */
footer {
    background: linear-gradient(to right, #3931af, #00c6ff);
    color: #e4d6d6;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
